@page "/"
@using BlazorApp.Data
@inject WeatherForecast weatherForecast
<h1>Hello, world!</h1>
<p>EventBusConnection:=> @weatherForecast.EventBusConnection</p>
<p>ApiGatewayConnection:=> @weatherForecast.ApiGatewayConnection</p>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
